# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
#python
./__pycache__/
./*/__pycache__/
./*/*/__pycache__/
./*/*/*/__pycache__/
./*/*/*/*/__pycache__/
./*/*/*/*/*/__pycache__/
login_app/migrations/0001_initial.py
login_app/migrations/0001_initial.py
login_app/migrations/0002_orgdetails.py
login_app/migrations/0003_alter_orgdetails_city_alter_orgdetails_latitude_and_more.py
login_app/migrations/0004_user_address.py
lostchildren/migrations/0001_initial.py
lostchildren/migrations/0002_matchingchild_matchingreports.py
notification_app/migrations/0004_alter_feedbackreview_feedback_and_more.py
notification_app/migrations/0003_feedbackreview.py
notification_app/migrations/0002_contactus.py
notification_app/migrations/0001_initial.py
