# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
#python
./__pycache__/
./*/__pycache__/
./*/*/__pycache__/
./*/*/*/__pycache__/
./*/*/*/*/__pycache__/
./*/*/*/*/*/__pycache__/
login_app/migrations/
lostchildren/migrations/
notification_app/migrations/